
@if (checklist()) {
<!-- Cards for each individual checklist -->
<mat-card class="checklist-card">

  <!-- Card Header -->
  <mat-card-header>
    <mat-card-title class="checklist-card-studentName">{{ checklist().studentName }}</mat-card-title>
  </mat-card-header>

  <!-- Card Content -->
  <mat-card-content>
    <mat-list>

      <!-- School -->
      <mat-list-item>
        <mat-icon matListItemIcon>home</mat-icon>
        <p matListItemTitle>School</p>
        <p matListItemLine class="checklist-card-school">{{ checklist().school }}</p>
      </mat-list-item>

      <mat-divider [inset]="true"></mat-divider>

      <!-- Grade -->
      <mat-list-item>
        <mat-icon matListItemIcon>clock</mat-icon>
        <p matListItemTitle>Grade</p>
        <p matListItemLine class="checklist-card-grade">{{ checklist().grade }}</p>
      </mat-list-item>

      <mat-divider [inset]="true"></mat-divider>

      <!-- Requested Supplies List -->
      <mat-list dense class="student-list">
        @for (student of checklist().requestedSupplies ?? []; track student.requestedSupplies) {
          <mat-list-item class="student-item">
            <mat-icon matListItemIcon class="student-icon">person</mat-icon>
            <p matListItemTitle>{{ student.requestedSupplies }}</p>
          </mat-list-item>
        }
      </mat-list>

      <mat-divider inset></mat-divider>

      <!-- Checklist -->
      <mat-list-item>
        <a href="mailto:{{checklist().email}}" matListItemIcon><mat-icon>mail</mat-icon></a>
        <p matListItemTitle>Email</p>
        <a matListItemLine class="checklist-card-email" href="mailto:{{checklist().email}}">{{checklist().email}}</a>
        <a href="mailto:{{checklist().email}}" matListItemMeta mat-icon-button><mat-icon>open_in_new</mat-icon></a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
}
